
@{
    ViewData["Title"] = "Index";
}

<html>
<head>
</head>
<body>
    <h2>Index</h2>
    <div style="text-align: center;margin-top: 5%">
        <p>在线用户</p>
        <ul id="userList">
        </ul>
    </div>
    <div style="text-align: center;margin-top: 5%">
        <input type="text" id="account" placeholder="账号" />
        <button type="button" id="denglu">登录</button>
    </div>
    <div style="text-align: center;margin-top: 5%">
        <input type="text" id="user" placeholder="用户" />
        <input type="text" id="message" placeholder="消息" />
        <button type="button" id="sendBtn">发送</button>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
</body>
</html>
<script>
    var connection = new signalR.HubConnectionBuilder()
        //配置路由
        .withUrl("/MessageHub")
        //日志信息
        .configureLogging(signalR.LogLevel.Information)
        //创建
        .build();
    //接受消息
    connection.on("GetAllUser", (userlist) => {
        var jsonObj = JSON.parse(userlist);
        $("#userList").empty();
        for (let key in jsonObj) {
            $("#userList").append("<li>" + key+"</li>");
        }
    });
    //
    connection.on("ReceiveMessage", (message, fromloginNo) => {
        alert("收到" + fromloginNo + "的消息===>" + message);
    });
    //开始连接
    connection.start().then(e => {
        
    }).catch(err => console.error(err.toString()));

    //登录
    document.getElementById("denglu").addEventListener("click", function () {
        connection.invoke("SendLogin", document.getElementById('account').value).catch(err =>
            console.error(err.toString())
        );
        connection.invoke("GetAllUser").catch(err =>
            console.error(err.toString())
        );
    });

    //发送消息
    document.getElementById("sendBtn").addEventListener("click", function () {
        var message = document.getElementById('message').value;
        connection.invoke("SendMessage", document.getElementById('user').value, message, document.getElementById('account').value).catch(err =>
            console.error(err.toString())
        );
    });
    ////开始连接
    //connection.start().then(e => {
    //    connection.invoke("SendLogin", "hah").catch(err =>
    //        console.error(err.toString())
    //    );
    //}).catch(err => console.error(err.toString()));
</script>

